.grille{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: 0.35fr 0.1fr 1fr 1fr 0.35fr;
    grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "main figure section2 figure2"
    "section section section aside"
    "footer footer footer footer"
    ;
    width: 100%;
    overflow: scroll;
}


nav{
 grid-area: nav;
 background-color: black;
padding-left: 10px;
padding-right: 10px;
 
}

header{
    grid-area: header;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: beige;
    background-color: grey;
}
aside{
    grid-area: aside;
    padding-left: 5px;
}

footer{
    grid-area: footer;
    background-color: grey;
    text-align: right;
    padding-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 5px;
    font-size: small;
}
section{
    grid-area: section;
}
main{
    grid-area: main;
}

html,body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.figure1{
    grid-area: figure;
padding: 2px;
width: fit-content;
float: left;

max-height: 280px;
max-width: 200px;
}

.figure1 img {
    border-radius: 50%;
}
img{
    height: 280px;
    width: 200px;
    margin: auto;
    max-height: 340px;
    max-width: 340px;
   }

   .section2{
    grid-area: section2;

   }

   .figure2{
    grid-area: figure2;
    background-color: white;
    width: fit-content;
    float: right;
    max-height: 280px;
    max-width: 320px;
 border: 2px solid black;
   }

   .figure2 img {
    width: 320px;
}

   a:hover{
    color: blue;
 }

 a{
    color: purple;
    text-decoration: none;
 }

 @media screen and (max-width: 1200px) {
    .grille {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .grille {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "header"
            "figure"
            "main"
            "section"
            "section2"
            "figure2"
            "aside"
            "footer";
    }

    img {
        width: 90%;
        max-width: 300px;
    }

    img{
        width: 90%;
        max-width: 300px;
    }

    footer {
        text-align: center;
    }

    header {text-align: center;}

    .navbar{
        flex-direction: column;
        align-items: center;
    }
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    color: white;
}

.gauche, .millieux, .droit {
    flex: 1; 
    text-align: center; 
}

.millieux{
    margin-right: 60px;
}
.gauche {
    text-align: left; 
    flex: 0;
    flex-wrap: nowrap;
    gap: 15px;
    white-space: nowrap;
    padding-right: 15px;
    padding-left: 15px;
}

.droit {
    text-align: right; 
    flex: 0; 
    flex-wrap: nowrap;
    gap: 15px;
    white-space: nowrap;
    padding-right: 15px;
    padding-left: 15px;
}
